.shark
			{
					
					animation-name: shark;
					animation-duration: 0.25s;
					animation-iteration-count: 5;
					animation-timing-function: linear;
					-moz-animation-name: shark;
					-moz-animation-duration: 0.25s;
					-moz-animation-iteration-count: 5;
					-moz-animation-timing-function: linear;
					-ms-animation-name: shark;
					-ms-animation-duration: 0.25s;
					-ms-animation-iteration-count: 5;
					-ms-animation-timing-function: linear;
					-webkit-animation-name: shark;
					-webkit-animation-duration: 0.25s;
					-webkit-animation-iteration-count: 5;
					-webkit-animation-timing-function: linear;
					-o-animation-name: shark;
					-o-animation-duration: 0.25s;
					-o-animation-iteration-count: 5;
					-o-animation-timing-function: linear;
					
			}

			
			
			@keyframes shark
			{
			0% {transform: translate3D(5px,5px,1px)}
			20% {transform: translate3D(0px,0px,1px)}
			40% {transform: translate3D(-5px,0px,1px)}
			60% {transform: translate3D(0px,-5px,1px)}
			80% {transform: translate3D(-5px,-5px,1px)}
			100% {transform: translate3D(0px,0px,1px)}
			}
			
			@-moz-keyframes shark/* Firefox */
			{
						0% {-moz-transform: translate3D(5px,5px,1px)}
			20% {-moz-transform: translate3D(0px,0px,1px)}
			40% {-moz-transform: translate3D(-5px,0px,1px)}
			60% {-moz-transform: translate3D(0px,-5px,1px)}
			80% {-moz-transform: translate3D(-5px,-5px,1px)}
			100% {-moz-transform: translate3D(0px,0px,1px)}
			}
			
			@-webkit-keyframes shark/* Safari and Chrome */
			{
			0% {-webkit-transform: translate3D(5px,5px,1px)}
			20% {-webkit-transform: translate3D(0px,0px,1px)}
			40% {-webkit-transform: translate3D(-5px,0px,1px)}
			60% {-webkit-transform: translate3D(0px,-5px,1px)}
			80% {-webkit-transform: translate3D(-5px,-5px,1px)}
			100% {-webkit-transform: translate3D(0px,0px,1px)}
			}
			
			@-o-keyframes shark/* Opera */
			{
						0% {-o-transform: translate3D(5px,5px,1px)}
			20% {-o-transform: translate3D(0px,0px,1px)}
			40% {-o-transform: translate3D(-5px,0px,1px)}
			60% {-o-transform: translate3D(0px,-5px,1px)}
			80% {-o-transform: translate3D(-5px,-5px,1px)}
			100% {-o-transform: translate3D(0px,0px,1px)}
			}
			
			@-ms-keyframes shark/* Opera */
			{
						0% {-ms-transform: translate3D(5px,5px,1px)}
			20% {-ms-transform: translate3D(0px,0px,1px)}
			40% {-ms-transform: translate3D(-5px,0px,1px)}
			60% {-ms-transform: translate3D(0px,-5px,1px)}
			80% {-ms-transform: translate3D(-5px,-5px,1px)}
			100% {-ms-transform: translate3D(0px,0px,1px)}
			}